body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.barra-topo {
  display: flex;
  justify-content: space-evenly;
  height: 34px;
  padding-top: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.barra-topo-mobile {
  display: flex;
  justify-content: space-between;
  height: 34px;
  padding-top: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
}
.barra-bottom-mobile {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding-top: 5px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
}
ion-icon {
  font-size: 24px;
}
.linha-vertical {
  width: 1px;
  height: 20px;
  background-color: #dbdbdb;
}
.icones-topo1 {
  width: 155px;
  display: flex;
  justify-content: space-evenly;
}
.icones-topo2 {
  width: 165px;
  display: flex;
  justify-content: space-between;
}
.linha-horizontal {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: fixed;
  top: 50px;
}
.caixa-stories1 {
  width: 614px;
  height: 118px;
  left: 215px;
  top: 88px;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  left: 0px;
  display: flex;
  overflow: hidden;
  margin-bottom: 115px;
}
.stories-icone1 {
  height: 100px;
  width: 75px;
  padding-top: 20px;
  padding-left: 7px;
}
.stories-icone1 p {
  justify-content: center;
  margin-top: 3px;
  margin-left: 5px;
  color: #262626;
  font-weight: 19px;
}
.background-img img {
  width: 66px;
  height: 66px;
  border-radius: 33px;
}
.img-stories1 {
  position: relative;
  right: 61px;
  top: 5px;
}
.img-stories1 img {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}
.flex-img {
  display: flex;
}

.setinha {
  position: relative;
  top: 35px;
  right: 0px;
  width: 0px;
  z-index: 1;
}
.feed {
  width: 614px;
  height: 100vh;
  margin-top: 24px;
}
.post {
  width: 613px;
  height: 749px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 24px;
}
.topo-post {
  width: 614px;
  height: 60px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #ffffff;
}
.base-post {
  width: 614px;
  height: 70px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.base-post-cima {
  width: 614px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.icones-esquerda {
  margin-left: 10px;
}
.base-post ion-icon {
  margin-top: 10px;
  margin-right: 10px;
}
.base-post-baixo {
  height: 35px;
}
p {
  margin-left: 10px;
  margin-top: 10px;
}
.post img {
  width: 614px;
  height: 614px;
}
.base-post-baixo img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 5px;
}
.base-post-baixo {
  display: flex;
  margin-left: 10px;
}
.topo-post img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 5px;
}
.topo-post-img-flex {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}
.elementos-topo-post ion-icon {
  margin-top: 12px;
  margin-right: 15px;
  font-size: 16px;
}
.elementos-topo-post p {
  margin-left: 14px;
  margin-top: 14px;
  font-size: 14px;
}
.elementos-topo-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  width: 293px;
  height: 600px;
  margin-right: 215px;
  margin-top: 111px;
  margin-left: 28px;
}
.user-img img {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}
.info-kethlyn {
  width: 80px;
  margin-left: 10px;
  margin-top: 7px;
}
.perfil-sidebar {
  display: flex;
}
.nome-perfil {
  color: #262626;
  font-weight: 500;
}
.kethlyn {
  margin-top: 2px;
  color: #8e8e8e;
}
.sugestoes p {
  width: 293px;
}
.sugestoes {
  display: flex;
  margin-top: 20px;
  margin-bottom: 14px;
  width: 293px;
}
.img-sugestoes img {
  width: 36px;
  height: 36px;
  border-radius: 28px;
}
.sugestoesPvc {
  color: #8e8e8e;
  font-weight: 500;
  margin-left: 0;
}
.perfil-sidebar-users {
  display: flex;
  margin-bottom: 14px;
}
.imgEinfo {
  display: flex;
  width: 293px;
}
.imgEinfo img {
  margin-top: 10px;
}
.imgEinfo p:first-child {
  color: #262626;
}
.imgEinfo p:last-child {
  margin-top: 4px;
  color: #8e8e8e;
}
.seguir {
  width: 50px;
  right: 0;
  color: #139ef2;
  font-weight: 500;
}
.info-users {
  margin-top: 5px;
  width: 80px;
  margin-left: 10px;
}
.nome-users p {
  font-weight: 500;
}
.informacoes-sidebar {
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 0;
  color: #c7c7c7;
  font-size: 11px;
}
.cortar-img {
  object-position: 10px center;
}
.conteudo {
  display: flex;
  justify-content: center;
}
.stories-feed {
  margin-left: 215px;
}
@media (min-width: 614px) {
  .barra-bottom-mobile {
    display: none;
  }
}
@media (max-width: 935px) {
  .sidebar {
    display: none;
  }
  .conteudo {
    justify-content: center;
  }
  .stories-feed {
    margin: auto;
  }
}
@media (max-width: 614px) {
  .setinha {
    display: none;
  }
  .linha-vertical {
    display: none;
  }
  .barra-topo {
    display: none;
  }
  .caixa-stories1 {
    background-color: #e5e5e5;
    width: 100vw;
    top: 50px;
    margin-bottom: 50px;
    /* overflow: visible; */
  }
  .conteudo {
    width: 100%;
  }
  .stories-feed {
    width: 100vw;
  }
  .feed {
    margin-top: 20px;
  }
  .post {
    width: 100%;
  }
  .topo-post {
    width: 100vw;
  }
  .post img {
    width: 100vw;
  }
  .topo-post img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: 5px;
  }
  .base-post-baixo img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: 5px;
  }
  .base-post {
    width: 100vw;
  }
  .base-post-cima {
    width: 100vw;
  }
  .post-img {
    width: 100vw;
  }
}
